<!DOCTYPE xhtml>
<html ng-app="fretviewer">
    <head>
        <title>Fretviewer</title>
        <link rel="stylesheet" href="lib/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="lib/bootstrap-select.min.css"> -->
        <!-- <script src="lib/jquery.min.js" type="text/javascript"></script> -->
        <script src="lib/angular.min.js"></script>
        <!-- <script src="lib/bootstrap.min.js"></script> -->
        <!-- <script src="lib/bootstrap-select.min.js"></script> -->
        <script src="lib/easel.min.js" type="text/javascript"></script>
        <script src="fretviewer.js"></script>
        <style type="text/css">
            body {
                background-color: #eee;
            }

            .page-container {
                top: 40px;
                left: 0px;
                position: relative;
            }

            .controls {
                float: left;
            }

            .fretholder {
                position: absolute;
                left: 360px;
            }
        </style>
    </head>

    <body>
        <a href="https://github.com/dtreiter/fretviewer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
        <div class="jumbotron">
        <div class="container">
        <div class="page-container">
            <h1>Fretviewer</h1>
            <div class="controls row" ng-controller="fretboardController">
                <div class="col-md-10">
                    <h3>Tuning</h3> <br/>

                    <select ng-model="tuning" ng-options="tuning as tuning.name for tuning in tunings">
                    </select> <br/>&nbsp;

                    <button id="add-string" type="button" class="btn btn-primary" ng-click="addString()">Add String</button>
                    <button id="remove-string" type="button" class="btn btn-danger" ng-click="removeString()">Remove String</button> <br/><br/>&nbsp;

                    <label for="num-frets" ng->Number of frets:</label>
                    <input ng-model="numFrets" id="num-frets" class="form-control" type="number" min="5" max="25" value="{{numFrets}}"></input>

                    <h3>Scale</h3> <br/>

                    <label for="scale-key">Key:</label>
                    <select id="scale-key" ng-model="scaleKey" ng-options="note as note for note in noteChars">
                    </select> <br/>

                    <label for="scale-name">Scale:</label>
                    <select id="scale-name" ng-model="scale" ng-options="scale as scale.name for scale in scales">
                    </select>
                    
                </div>
                <div class="col-md-2">
                    <div id="tuning-container" ng-repeat="string in tuning.notes track by $index" >
                      <select class='tuning-string' ng-model="tuning.notes[$index]" ng-options="note for note in noteChars">
                      </select>
                    </div>
                </div>
            </div>

            <div class="fretholder">
                <canvas id="fretboard" class="canvas" width="800" height="800"></canvas>
            </div>
        </div>
        </div>
        </div>  
    </body>
</html>

